# Compiled files
target/
*.class

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
logs/
*.log

# Application secrets (if any)
application-dev.properties
application-prod.properties

docker-data/